body {
  margin: 18px;
}

.accordion {
  max-width: 1024px;
  margin: auto;
}

.accordion-title {
  border: 1px solid black;
  border-radius: 18px;
  padding: 18px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title h2 {
  font-weight: normal;
}

.accordion-content {
  border: 2.5px solid black;
  border-radius: 18px;
  padding: 18px;
  margin-bottom: 10px;
  font-size: 18px;
}
